<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <img src="https://res.cloudinary.com/dwa4xwa14/image/upload/v1719910841/ruibou5ehiwwkumlpuqp.png" alt='logo' width="200px" height="100%">
    <p>Hi {{ user.first_name }},</p>
    <p>You requested a password reset. Click the link below to reset your password:</p>
    <p><a href="{{ reset_link }}">Reset your password</a></p>
    <p>If you did not request this, please ignore this email.</p>
    <p>Thanks,</p>
    <p>GOUFER PLC</p>
</body>
</html>
